<% include ../shared/header.ejs %>

<% if (thread) { %>
<h1><a href="/post/<%= thread._id %>/<%= thread.slug %>"><%= thread.title %></a></h1>
<p><% if (typeof currentUser !== 'undefined') { %>
        <a href="/profile/<%= thread._author.username %>"><i class="fa fa-user-circle-o" aria-hidden="true"></i> <%= thread._author.firstName %> <%= thread._author.lastName %></a>
    <% } else { %>
        <i class="fa fa-user-circle-o" aria-hidden="true"></i> <%= thread._author.firstName %> <%= thread._author.lastName %>
    <% } %></p>
<pre><%= thread.description %></pre>
<p><i class="fa fa-calendar" aria-hidden="true"></i> <%= moment(thread.createdAt).format('MM/DD/YYYY') %> |
    <i class="fa fa-folder-open" aria-hidden="true"></i> <%= thread._category.title %></p>
<% if (typeof currentUser !== 'undefined') { %>
    <form action="/post/<%= thread._id %>/<%= thread.slug %>" method="post">
        <fieldset>
            <legend>Your Answer</legend>
            <p><textarea id="content" name="content" placeholder="Your Answer Here..." rows="10"></textarea></p>
            <p><input type="submit" value="Add Answer"></p>
        </fieldset>
    </form>
<% } %>
<% if (typeof thread.answers !== 'undefined' && thread.answers.length) { %>
    <hr>
    <ul>
        <% for (var i = 0; i < thread.answers.length; i++) { %>
            <% var row = thread.answers[i] %>
            <li><p><% if (typeof currentUser !== 'undefined') { %>
                    <a href="/profile/<%= row.author.username %>"><i class="fa fa-user-circle-o" aria-hidden="true"></i> <%= row.author.firstName %> <%= row.author.lastName %></a>
                    <% } else { %>
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i> <%= row.author.firstName %> <%= row.author.lastName %>
                    <% } %></p>
                <pre><%= row.content %></pre>
                <p><i class="fa fa-hand-o-up" aria-hidden="true"></i> <%= row.comments.length %> | <i class="fa fa-calendar" aria-hidden="true"></i> <%= moment(row.createdAt).format('MM/DD/YYYY') %></p>
            </li>
        <% } %>
    </ul>
<% } %>

<% } else { %>
    <p>This thread has no answers.</p>
<% } %>

<% include ../shared/footer.ejs %>