<% include ../shared/header.ejs %>

<h1><%= pageTitle %></h1>
<p><a href="/profile/<%= user.username %>"><i class="fa fa-user-circle-o" aria-hidden="true"></i> <%= user.firstName %> <%= user.lastName %> (<%= user.username %>)</a></p>
<p>Threads: <%= user.threads.length %> | Answers: <%= user.answers.length %> </p>
<h2>Threads</h2>
<% if (user.threads.length) { %>
    <ul>
    <% for (var i = 0; i < user.threads.length; i++) { %>
        <li><h3><a href="/post/<%= user.threads[i]._id %>/<%= user.threads[i].slug %>"><%= user.threads[i].title %></a></h3>
            <p><i class="fa fa-calendar" aria-hidden="true"></i> <%= moment(user.threads[i].createdAt).format('MM/DD/YYYY') %> | <i class="fa fa-folder-open" aria-hidden="true"></i> cat.</p>
        </li>
    <% } %>
    </ul>
<% } else { %>
    <p>No threads found.</p>
<% } %>

<h2>Answers</h2>


<% include ../shared/footer.ejs %>