<% include ../shared/header.ejs %>

<h1>Welcome to My Simple Twitter System!</h1>
<h2>Tweet List</h2>
<% if (typeof currentUser !== 'undefined') { %>
    <p><a href="/tweet">Add a New Tweet</a></p>
<% } %>
<% if (rows.length) { %>
    <% if (tags && tags.length) { %>
        <p><% for (var i = 0; i < tags.length; i++) { %>
            <a href="/tag/<%= tags[i] %>">#<%= tags[i] %></a></a>
        <% } %></p>
    <% } %>
    <table class="tabletest2">
        <% for (var i = 0; i < rows.length; i++) { %>
        <tr>
            <td><p><pre><%= rows[i].message %></pre></p>
                <p><% if (typeof currentUser !== 'undefined') { %>
                        <a href="/profile/<%= rows[i]._author.username %>"><i class="fa fa-user-circle-o" aria-hidden="true"></i> <%= rows[i]._author.firstName %> <%= rows[i]._author.lastName %></a>
                    <% } else { %>
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i> <%= rows[i]._author.firstName %> <%= rows[i]._author.lastName %>
                    <% } %> |
                    <i class="fa fa-calendar" aria-hidden="true"></i> <%= moment(rows[i].createdAt).format('MM/DD/YYYY, h:mm:ss a') %> |
                    <i class="fa fa-eye" aria-hidden="true"></i> <%= rows[i].views %>

                    <% if (typeof currentUser !== 'undefined' && currentUser.roles.indexOf('Admin') > -1) { %>
                        | <a href="/edit/<%= rows[i]._id %>/home">Edit</a>
                        | <a href="/delete/<%= rows[i]._id %>/home" class="delete">Delete</a>
                    <% } %>
                </p>
            </td>
        </tr>
        <% } %>
    </table>

    <script>
        $(function () {
            $('.delete').bind('click', function (e) {
                if (!confirm('Are you sure you want to delete this tweet?')) {
                    e.preventDefault();
                }
            })
        });
    </script>

<% } else { %>
    <p>No tweets found ;-(</p>
<% } %>

<% include ../shared/footer.ejs %>